/* About container styles */
.about-container {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 3rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.about-image img {
  max-width: 100%;
  height: auto;
}

.about-text {
  padding: 0 10px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .about-container, .projects-container, .contact-container {
    margin-top: 2rem;
  }
}
