/* Contact container styles */
.contact-container {
  background-color: #f5f5f5;
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Contact card styles */
.contact-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .contact-card:hover {
    transform: translateY(-5px);
  }
  
  /* Contact card icon styles */
  .contact-icon {
    font-size: 36px;
    color: #0077B5; /* LinkedIn color */
  }
  
  /* Contact card heading styles */
  h3 {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
  }
  
  /* Contact card details styles */
  p {
    font-size: 16px;
    margin: 0;
  }
